<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>DTPlatformVersion</key>
    <string>17.5</string>
    <key>UIUserInterfaceStyle</key>
    <string>Light</string>
    <key>CFBundleName</key>
    <string>My Demo App</string>
    <key>DTSDKName</key>
    <string>iphoneos17.5</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon60x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>testfairyEnabled</key>
    <false/>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>https</string>
      <string>http</string>
    </array>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string></string>
    <key>UIBackgroundModes</key>
    <array>
      <string>remote-notification</string>
    </array>
    <key>DTSDKBuild</key>
    <string>21F77</string>
    <key>NSCameraUsageDescription</key>
    <string>Camera is used to scan QR codes.</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1.2</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>NSLocationAlwaysUsageDescription</key>
    <string></string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>BuildMachineOSBuild</key>
    <string>23H420</string>
    <key>DTPlatformBuild</key>
    <string>21F77</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>DTXcodeBuild</key>
    <string>15F31d</string>
    <key>MinimumOSVersion</key>
    <string>14.3</string>
    <key>UIAppFonts</key>
    <array>
      <string>Proxima Nova Medium.otf</string>
      <string>Proxima Nova Font.otf</string>
      <string>TimesNewRoman.ttf</string>
    </array>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string></string>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>CFBundleIdentifier</key>
    <string>com.saucelabs.mydemo.app.ios</string>
    <key>UIApplicationSceneManifest</key>
    <dict>
      <key>UIApplicationSupportsMultipleScenes</key>
      <false/>
      <key>UISceneConfigurations</key>
      <dict>
        <key>UIWindowSceneSessionRoleApplication</key>
        <array>
          <dict>
            <key>UISceneDelegateClassName</key>
            <string>My_Demo_App.SceneDelegate</string>
            <key>UISceneStoryboardFile</key>
            <string>TabBar</string>
            <key>UISceneConfigurationName</key>
            <string>Default Configuration</string>
          </dict>
        </array>
      </dict>
    </dict>
    <key>DTXcode</key>
    <string>1540</string>
    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>
    <key>CFBundleExecutable</key>
    <string>My Demo App</string>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon60x60</string>
          <string>AppIcon76x76</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>NSFaceIDUsageDescription</key>
    <string></string>
    <key>UIMainStoryboardFile</key>
    <string>TabBar</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>DTAppStoreToolsBuild</key>
    <string>15F31d</string>
  </dict>
</plist>
